[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
opencv-python = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
gunicorn = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
